@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300&display=swap');
.preload * {
    transition: none !important;
}

/*colors in the different themes*/
:root {
    --bg: #333;

    --nav: #989898;
    --navHover: #DDDDDD;

    --progressBar: #444444;

    --title: #FFFFFF;
    --text: #CCCCCC;
    --textHover: #FFFFFF;

    --buttonInactive: #FFFFFF;
    --buttonActive: #000000;

    --inconspicuous: #AAAAAA;
    --message: #EEEEEE;
    --backgroundMessages: rgba(0, 0, 0, .1);
    --boderColorMessageBackground: #444444;
    --writelineBGColor: #444444;

    --spoiler: #222222;

    --inputBackground: #444444;

    --error: #FF5454;
}
.light{
    --bg: #DDD;

    --nav: #989898;
    --navHover: #000000;

    --progressBar: #e3e3e3;

    --title: #000000;
    --text: #333333;
    --textHover: #000000;

    --buttonInactive: #000000;
    --buttonActive: #FFFFFF;

    --inconspicuous: #666666;
    --message: #111111;
    --backgroundMessages: rgba(255, 255, 255, .1);
    --boderColorMessageBackground: #BBBBBB;
    --writelineBGColor: #BBBBBB;

    --spoiler: #BBBBBB;

    --inputBackground: #e3e3e3;

    --error: #FF5454;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    background: var(--bg);
    transition: background 500ms ease-in-out;
}
h1{
    font-weight: 300;
}
a{
    color: currentColor;
}
div{
    font-family: 'Roboto', sans-serif;
}



/*standard*/
.navigationBar{
    height: 3em;
}
.navItem{
    font-size: 2.5em;
    color: var(--nav);
    text-decoration: none;

    margin-right: 0.2em;
    margin-left: 0.2em;
}
.navItem:hover{
    color: var(--navHover);
}
#home{
    padding-top: 0.05em;
    float: left;
}
#FAQ{
    padding-top: 0.05em;
    float: right;
}
#switch{
    float: right;
}

.contentContainer{
     display: flex;
 }

.leftContentContainer{
    width: 60vw;
    height: 90vh;

    background-image: url('../images/Pim background.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;

    position: relative;
    text-align: center;
    color: var(--title);
}
.leftTitle{
    font-size: 15em;
    line-height: 0.8em;
    text-align: center;

    margin-top: 30%;
    margin-bottom: 0;
}
.leftMenu{
    font-size: 3em;
    font-weight: 200;
    color: var(--text);
    margin-top: 0.5em;
}
.leftText{
    font-size: 1.2em;
    font-weight: 200;
    color: var(--text);
    line-height: 1.7em;
}
.leftLink{
    font-size: 1.5em;
    color: var(--text);
}
.leftLink:hover{
    color: var(--textHover);
}

.rightContentContainer{
    width: 50%;
}
.rightSubContentContainer{
     width: 30em;
     margin: 2em;
 }
.rightSubTitle{
    font-size: 4em;
    color: var(--title);

    margin-top: 20%;
    margin-bottom: 0.3em;
}
.rightSubText{
    font-size: 1.2em;
    font-weight: 200;
    color: var(--text);
    line-height: 1.7em;;
}

.slideButton{
    margin-top: 1.5em;

    font-size: 1.5em;
    width: 10em;
    height: 2em;

    color: var(--buttonActive);
    background: var(--buttonInactive);

    border-radius: 0.5em;
    border: none;

    background: linear-gradient(to left, var(--buttonInactive) 50%, var(--buttonActive) 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out, color 0.3s;
}
.slideButton:hover{
    background-position: left;
    color: var(--buttonInactive);
}
.slideButton:focus{
    outline: none;
}



/* index */
.titleIndex{
    padding-top: 1.5%;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10em;
    color: var(--title);
    text-align: center;
}
.lead{
    margin-top: 0;
    color: var(--title);
    text-align: center;
}
.notFinishedYetText {
    text-align: center;
    color: var(--text);
}

.progressbarContainer{
    width: 80%;
    height: 3%;

    background: var(--progressBar);

    border-radius: 0.75em;
    border: 0.05em solid #AAA;

    margin: 4% auto;
}
.progressbar{
    width: 20%;
    height: 100%;

    border-radius: 0.75em;

    background-color: #69cf81;

    animation: progress;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#tryIt{
    display: block;
    margin: auto;
    font-size: 2em;
}

.linkContainer{
    display: flex;
    justify-content: center;

    margin-top: 5%;
}
#github{
    margin-right: 2em;
}
#googleDocs{
    margin-left: 2em;
}

@keyframes progress {
    0%{
        width: 0;
    }
    2%{
        width: 1%;
    }
    5%{
        width: 10%;
    }
    15%{
        width: 15%;
    }
    25%{
        width: 17%;
    }
    50%{
        width: 40%;
    }
    60%{
        width: 70%;
    }
    70%{
        width: 72%;
    }
    85%{
        width: 90%;
    }
    100%{
        width: 98%;
    }
}



/*dashboard*/
#copyToClipboard{
    width: 2em;
    transition: 0.1s ease-out, color 0.3s;
    text-align: center;
    padding: 0;
}

.input{
    height: 2em;
    width: 12em;

    margin-right: 0.2em;

    font-size: 1.5em;
    text-align: center;
    color: var(--text);

    background: var(--inputBackground);

    border-radius: 0.5em;
    border: 0.1em solid #AAA;
}
.input:focus{
    outline: none;
}

.errorMessagePassword{
    color: var(--error);
    font-size: 1.5em;
}

.smallButtons{
    margin-top: 1.5em;
    margin-right: 0.75em;

    color: var(--text);
    background-color: var(--bg);
    font-size: 1.5em;
    border: none;
    transition: background 500ms ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
#deleteChatButton{
    color: var(--error);
}

/*chat*/

#bodyChat{
    background-image: url('../images/krita bubble pim.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
}
.yourMessage{
    margin: 0.2em 0;
    text-align: right;
}
.opponentMessage{
    /*todo je nach dem wir lange die nachricht her ist die margin setzen*/
    text-align: left;
    margin: 0.2em 0;
}
.time{
    font-size: 0.75em;
    color: var(--inconspicuous);
}

.chatIDP{
    color: var(--inconspicuous);
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.5em;
}
.keyHidden{
    margin: 0;
    background: var(--spoiler);
    color: var(--spoiler);
    text-align: center;
    width: 5%;
}
.keyVisible{
    margin: 0;
    background: var(--spoiler);
    color: var(--inconspicuous);
    text-align: center;
    width: 5%;
}

.seeMessages{
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.5em;
    font-family: Roboto;
    font-size: 15px;

    height: 95%;
    color: var(--message);
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.seeMessages::-webkit-scrollbar {
    display: none;
}

.noMessageText{
    text-align: center;
    color: var(--title);
    font-size: 4em;
    line-height: 1.2em;
}
.subNoMessageText{
    text-align: center;
    color: var(--text);
    font-size: 2em;
    line-height: 1.2em;
}

.writingContainer{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
}

.MessageInputField{
    height: 5%;
    width: 100%;

    font-size: 1em;
    font-weight: 300;
    text-align: left;
    padding: 0.25em;
    padding-left: 0.5em;
    color: var(--text);
    resize: none;

    background: var(--writelineBGColor);
    border-style: none;
    border-radius: 0.5em;

}
.MessageInputField:focus{
    outline: none;
}

#sendingButton{
    width: 5%;
    border-radius: 0.75em;
    border-style: none;
    font-size: 1em;
}
#sendingButton:hover{
    background: black;
    color: white;
}


.interactionContainer{
    padding-top: 1em;
    padding-bottom: 0.25em;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1.5em;

    border-width: 1px;
    border-color: var(--boderColorMessageBackground);
    border-style: solid;

    height: 80%;

    background-color: var(--backgroundMessages);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

    border-radius: 1em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 10%;
    padding-left: 1em;
}

#leftFooter{
    left: 0;
}
#rightFooter{
    right: 0;
    margin-bottom: 0.8em;
    text-align: right;
}

.blankP{
    margin: 0;
    line-height: 1em;
    display: inline;
}

.rainbow{
    animation: rainbowAnimation 2s infinite;
}
.spoiler{
    color: var(--spoiler);
    background: var(--spoiler);
}
.spoilerHidden{
    color: var(--spoiler);
}
.spoilerVisible{
    color: var(--text);
}

#changeEncryptionButton{
    color: #1f6fac;
}

#player{
    border-radius: 1em;
}

@keyframes rainbowAnimation {
    0% {color: red;}
    20% {color: orange;}
    40% {color: yellow;}
    60% {color: green;}
    80% {color: blue}
    100% {color: purple;}
}

@media screen
and (max-device-width: 1050px)
and (min-device-width: 600px) {
    .contentContainer{
        display: block;
    }
    .leftContentContainer{
        width: 100%;
        height: 50vh;
    }
    .rightContentContainer{
        display: flex;
        width: 100%;
    }
    .leftTitle, .rightSubTitle{
        margin-top:10%;
    }
    .rightSubContentContainer{
        padding-left: 2.5%;
        padding-right: 2.5%;
        width: 50%;
    }
    #joinChatContainer{
        float: right;
    }
    #openChatContainer{
        float: left;
        text-align: right;
    }

}
@media screen
and (max-device-width: 600px)
and (orientation: portrait){

    .contentContainer{
        display: block;
    }
    .leftContentContainer{
        width: 100%;
        height: 35vh;
    }
    .rightContentContainer{
        display: block;
        width: 100%;
    }
    .leftTitle {
        margin-top: 10%;
    }
    .leftText{
        font-size: 2em;
    }
    .leftLink{
        font-size: 2em;
    }
    .rightSubTitle{
        font-size: 5em;
        margin-top: 0;
    }
    .rightSubText{
        font-size: 1.5em;
    }
    .rightSubContentContainer{

        padding-left: 2.5%;
        padding-right: 2.5%;

        margin-top: 0;
        padding-bottom: 2%;
        width: auto;
    }
    #joinChatContainer{
        text-align: right;
    }
    #openChatContainer{
        text-align: left;
    }
    .slideButton{
        font-size: 2.25em;
        width: 10em;
        height: 2em;
        margin-top: 0.5em;
    }
    .input{
        font-size: 2.25em;
    }
}